div.othello-game {
	position: relative;
	margin-bottom: 25px;
	font-family: Arial, sans-serif;
}
p.othello-game-title {
	font-size:0.75rem;
	text-align:center;
}
div.othello-game button {
    background-color: #090;
    border-color: #CCCCCC #666666 #666666 #CCCCCC;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}
div.othello-game div.gContainer {
	position: relative;
	margin: 0px auto 0px auto;
	background: #000;
	color: #fff;
	font-size: 1.1rem;
	text-align: center;
}
div.othello-game div.gContainer div:first-child {
	margin: auto;
}
div.othello-game div.gContainer img {
	display: block;
	margin: 0;
}
div.othello-game div.gContainer table {
	
}
div.othello-game div.gContainer table td {
	background:#090;
	padding:1px;
	text-align: center;
	vertical-align: middle;
}
div.othello-game div.gContainer table td.border {
	background:#630;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #fff;
}
div.othello-game div.gContainer p {
	margin: 0;
	text-align: center;
	padding: 0;
}
div.othello-game div.gamedata {
	position:relative;
	margin: 0 auto;
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 25px;
	background: #000;
	text-align: center;
}

div.othello-game div.gamedata span {
	padding: 0 15px 0 0;
	font-weight: bold;
}
div.othello-game div.gamedata span.whites {
	padding: 0;
}
div.othello-game div.gamecontrol {
	position:relative;
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
}
div.othello-game input.gameplay {
	display: none;
	width: 48%;
	height:24px;
	padding: 0;
	margin: 0px auto 0px auto;
	background: #000;
	color: #fff;
	border-color: #666666 #CCCCCC #CCCCCC #666666;
    border-style: solid;
    border-width: 2px;
}
div.othello-game button.reset {
	display: block;
	clear: left;
	width: 100%;
}
div.othello-game button.back {
	height: 28px;
	float: left;
}
div.othello-game button.step {
	width:10%;
}
div.othello-game button.end {
	width:15%;
}
div.othello-game button.forward {
	float: right;
	height: 28px;
}
